*{
    margin: 0%;
    padding: 0%;
}

.head{
    background-color: white;
}

.head img{
    padding-bottom: 2%;
    padding-top: 1%;
}

.body{
    background-color: #D0FBEA;
}

.body table{
    padding-top:8%;
    padding-bottom:10%;
}

.body table tr{
    margin: 0%;
}

.body td{
    border-radius: 20px;
    /* border: 1px solid; */
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: #646466;
}


/* ------------------------------------------ */
.img_buttons{
    background-color: rgb(0,0,0,0);
    border-style: none;
}


/* ---------------------------------------- */

.buttons{
    color: white; 
    font-size: larger;
    padding:4%;
    margin: 3% 3% 3% 0%;
    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 2px 6px #646466;
}

