*{
    margin: 0%;
    padding: 0%;
}

.head{
    background-color: white;
}


.head img{
    padding-bottom: 2%;
    padding-top: 1%;
}

.body{
    background-color: #D0FBEA;
    padding-top: 4%;
    padding-bottom:30%;
}

.in_body{
    margin-left:5%;
    margin-right:5%;
    margin-top:3%;
    background-color: white;
    border-radius: 20px;
}

.in_body p{
    padding:2% 2% 2% 14%;
    font-size: large;
}

.in_body label{
    padding:2%;
}


.in_body input{
    border-style: none;
    border-radius: 10px;
    margin-left:2%;
    padding:2%;
    background-color: #D0FBEA;
    font-size: large;
    color: #646466;
}

.body td{
    /* border: 0.5px solid; */
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: #646466;
}


/* ------------------------------------------ */
.img_buttons{
    background-color: rgb(0,0,0,0);
    border-style: none;
}


/* ---------------------------------------- */

.buttons{
    color: white; 
    font-size: larger;
    padding:2% 3% 2% 3%;
    margin: 10% 3% 3% 7%;
    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 2px 6px #646466;
}

